/* ********************** Menu ********************** */

:root {
  --whiteCustom: #FBFEF9;
  --blackCustom: #191923;
  --lightBlackCustom: #282831;
  --redF1Custom: #E10600;
  --azureCustom: #0E79B2;
  --orangeCustom: #F39237;
}

.topbar {
    position: sticky;
    top: 0;
    z-index: 10;
    background: var(--blackCustom);
    color: var(--whiteCustom);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5vh 2vw;
    border-bottom: 2px solid var(--redF1Custom);
    padding-right: 8vw;
}


.current-selection {
    height: 3vh;
    display: flex;
    align-items: center;
    font-size: 1.2vw;
    color: var(--redF1Custom);
}

.filters {
    display: flex;
    align-items: center;
    gap: 0.4vh;
    font-size: 0.9vw;
}

.filters select,
.filters input {
    padding: 0.2rem 0;
    border-radius: 4px;
    border: 1px solid var(--whiteCustom);
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-inline: 1.2vw;
}

.dropbtn {
    padding: 0.5vh 0.5vw;
    cursor: pointer;
    border: 1px solid var(--lightBlackCustom);
    border-radius: 6px;
    background-color: var(--lightBlackCustom);
    justify-content: space-between;
    color: var(--whiteCustom);
    font-size: 1.1vw;
}

.dropbtn::after {
  content: "▼";
  font-size: 0.7vw;
  margin-left: 8px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--lightBlackCustom);
  border: 1px solid var(--lightBlackCustom);
  border-radius: 6px;
  z-index: 1;
  height: 30vh;
  overflow-y: auto;
  color: var(--whiteCustom);
  width: 16vw;
}

.dropdown-content.show {
  display: flex;
  flex-direction: column;
}

.dropdown-content .option {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 1vh 0.6vw;
  cursor: pointer;
  text-align: center;
}

.dropdown-content .header {
  display: flex;
  background: #3B3B3B;
  color: white;
  justify-content: space-around;
  padding: 1vh 0;
}

.dropdown-content .header button {
  border: 2px solid var(--redF1Custom);
  border-radius: 5px;
  font-size: 1vw;
  padding: 0.5vh 0.5vw;
  color: var(--redF1Custom);
  background-color: var(--lightBlackCustom);
  cursor: pointer;
}

.dropdown-content .header input {
  border: 2px solid var(--redF1Custom);
  border-radius: 5px;
  font-size: 1vw;
  padding: 0.5vh 0.5vw;
  color: var(--redF1Custom);
  background-color: var(--lightBlackCustom);
  cursor: pointer;
  width: 40%;
}


.dropdown-content .header button:hover {
  background-color: var(--redF1Custom);
  color: var(--lightBlackCustom);
}

.dropdown-content .content {
  flex: 1 1 auto;  /* occupa lo spazio rimanente */
  overflow-y: auto; /* scroll verticale */
  background: var(--lightBlackCustom);
  color: var(--whiteCustom);
  padding: 1vh;
}

.dropdown-content .option img {
  width: 1.4vw;
  height: 1.4vw;
}

.dropdown-content .option.selected {
  border: 2px solid var(--redF1Custom);
}

.dropdown-content .header.selected {
  border: 2px solid var(--redF1Custom);
}
