/* Reset base */

:root {
  --whiteCustom: #FBFEF9;
  --blackCustom: #191923;
  --lightBlackCustom: #282831;
  --redF1Custom: #E10600;
  --azureCustom: #0E79B2;
  --orangeCustom: #F39237;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: var(--blackCustom);
  color: var(--whiteCustom);
}

header {
  width: 100vw;
  height: 6.5vh;
}
/* ********************** Main ********************** */

/* insert containers in column */
#charts {
    background: var(--blackCustom);
    width: 100vw;
    height: 93.5vh;
    display: flex;
    flex-direction: column;
}
/* get all width of the page */

#container12, #container3456 {
  display: flex;
  flex-direction: row;
}

#container34 {
  display: flex;
  flex-direction: column;
}

#container1 {
  margin-left: 1vw;
  margin-right: 0.5vw;
  margin-top: 1vh;
  margin-bottom: 0.5vh;
  width: 44vw;
  height: 34vh;
  padding: 10px;
  background: var(--lightBlackCustom);
  border-radius: 8px;
  box-shadow: 0 2px 6px var(--lightBlackCustom);
}


#containerLegend {
  margin-left: 0vw;
  margin-right: 0.5vw;
  margin-top: 1vh;
  margin-bottom: 0.5vh;
  width: 7.5vw;
  height: 34vh;
  padding: 2px;
  background: var(--lightBlackCustom);
  border-radius: 8px;
  box-shadow: 0 2px 6px var(--lightBlackCustom);
}

#container2 {
  margin-left: 0vw;
  margin-right: 1vw;
  margin-top: 1vh;
  margin-bottom: 0.5vh;
  width: 45.5vw;
  height: 34vh;
  padding: 2px;
  background: var(--lightBlackCustom);
  border-radius: 8px;
  box-shadow: 0 2px 6px var(--lightBlackCustom);
}

#container3 {
  margin-left: 1vw;
  margin-right: 0;
  margin-top: 0.5vh;
  margin-bottom: 0vh;
  width: 52.5vw;
  height: 24vh;
  padding: 0.5vw;
  background: var(--lightBlackCustom);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0 2px 6px var(--lightBlackCustom);
  display: flex;
  flex-direction: row

}

#Container4 {
  margin-left: 1vw;
  margin-right: 0;
  margin-top: 0vh;
  margin-bottom: 1vh;
  width: 52.5vw;
  height: 31.5vh;
  display: flex;
  flex-direction: row;
}

#container4 {
  margin-top: 1vh;
  width: 37vw;
  height: 30.5vh;
  padding: 10px;
  background: var(--lightBlackCustom);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0 2px 6px var(--lightBlackCustom);
  display: flex;
  flex-direction: row;
}

#Container4ab {
  width: 14.5vw;
  height: 30.5vh;
}

#container4a {
  margin-left: 0.5vw;
  width: 15vw;
  height: 5vh;
  background: var(--lightBlackCustom);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  flex-direction: row;

}

#container4b {
  margin-top: 0.5vw;
  width: 15.5vw;
  height: 25.5vh;
  background: var(--lightBlackCustom);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 0px;
  border-top-right-radius: 8px;
  display: flex;
  box-shadow: 0 2px 6px var(--lightBlackCustom);
  flex-direction: row;
}

.tyre-settings {
  display: flex;
  flex-direction: column;
  width: 15.5vw;
  padding-inline: 0.5vw;
}

.tyre-controls {
  margin-bottom: 0.5vh;
  font-size: 0.8vw;
}

.tyre-legend-right-inset {
  font-size: 0.8vw;
}

#regTypeSelect {
  padding: 0.45vh 0.25vw;
  cursor: pointer;
  border: 2px solid var(--redF1Custom);
  border-radius: 6px;
  background-color: var(--lightBlackCustom);
  justify-content: space-between;
  color: var(--whiteCustom);
  font-size: 0.8vw;
}

#container5 {
  margin-left: 0.5vw;
  margin-right: 0;
  margin-top: 0.5vh;
  margin-bottom: 1vh;
  width: 19vw;
  height: 55.5vh;
  padding: 10px;
  background: var(--lightBlackCustom);
  border-radius: 8px;
  box-shadow: 0 2px 6px var(--lightBlackCustom);
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}

#splom-container {
  margin-left: 0.5vw;
  margin-right: 1vw;
  margin-top: 0.5vh;
  margin-bottom: 1vh;
  padding: 6px;
  height: 55.5vh;
  width: 25.5vw;
  background: var(--lightBlackCustom);
  border-radius: 8px;
  box-shadow: 0 2px 6px var(--lightBlackCustom);
}

#splom {
  align-items: end;
  justify-content: end;
  display: flex;
  width: 100%;
  height: 100%;
}

#splom-main g rect {
  cursor: pointer;
}

#splom-main g rect:hover {
  cursor: pointer;
  stroke: var(--azureCustom);
}

#pairView {
  display: none;
  justify-content: end;
  flex-direction: column;
  align-items: end;
}

#backToSPLOM {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 90%;
}

.back-icon-div {
    padding: 0.5vh;
    background-color: var(--lightBlackCustom);
    border-radius: 6px;
    font-weight: bold;
    text-align: center;
    background-color: var(--redF1Custom);
    border-color: var(--redF1Custom);
    border-width: 0.3vh;
    border-style: solid;
    cursor: pointer;
    font-size: 2.2vh;
    color: var(--lightBlackCustom)
}


/*************** Dropdown Styles ***************/

#splom svg {
  font: 1.2vh sans-serif;
}

#splom svg .axis text {
  font: 1.4vh sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: var(--whiteCustom);
  shape-rendering: crispEdges;
}

.cell {
  stroke: var(--whiteCustom);
}

.cell circle {
  fill: var(--azureCustom);
  fill-opacity: 0.6;
}


/* INFO CONTAINERS */

#charts i {
	cursor: pointer;
	color: var(--redF1Custom);
}

#charts i:hover {
	opacity: 0.8;
}

#container1 i {
  position: absolute;
  margin-left: 0.1vw;
  margin-top: 29.5vh;
}

#container2 i {
  position: absolute;
  margin-left: 0.3vw;
  margin-top: 30vh;
}

#splom-container i {
  position: absolute;
  margin-left: 0.3vw;
  margin-top: 2vh;
}

#container4 i {
  position: absolute;
  margin-left: 34vw;
  margin-top: 1.6vh;
}

#info-container-tyre {
  display: none;
  font-size: 0.9vw;
  padding: 10px;
  color: var(--whiteCustom);
  align-items: center;
  justify-content: center;
  text-align: center;
}

#info-container-table {
  display: none;
  font-size: 0.9vw;
  padding: 10px;
  color: var(--whiteCustom);
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

#info-container-boxplot {
	display: none;
  font-size: 0.9vw;
  padding: 10px;
  color: var(--whiteCustom);
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

#info-container-parallel {
  display: none;
  font-size: 0.9vw;
  padding: 10px;
  color: var(--whiteCustom);
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

#info-container-splom {
  display: none;
  font-size: 0.9vw;
  padding: 10px;
  color: var(--whiteCustom);
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

#info-container-pca {
  display: none;
  font-size: 0.9vw;
  padding: 10px;
  color: var(--whiteCustom);
  align-items: center;
  justify-content: center;
  text-align: center;
}
